{
  "env": { "jest": true },
  "extends": "airbnb",
  "plugins": ["react", "jest"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "window": true,
    "fetch": true,
    "describe": true,
    "it": true,
    "document": true
  },
  "rules": {
    "no-unused-expressions": ["error", { "allowShortCircuit": true }]
  }
}
